body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: silver;  /* Silver background color */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: inline-block;
}

input[type="text"],
input[type="file"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="file"]:focus {
    border-color: #007BFF;
    outline: none;
}

input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#imagePreview {
    margin-top: 10px;
    text-align: left;
}

#response {
    margin-top: 10px;
    color: red;
}
